{% extends 'WebdevBlogBundle::layout.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}

	{# meta data #}
	<div id="blog_post_metadata" class="left small">
		<table>
			<tbody>
				<tr>
					<td>Autor</td>
					<td>{{ post.user.username }}</td>
				</tr>
				<tr>
					<td>Erstellt am</td>
					<td>{{ post.createdAt | date('d.m.Y') }}</td>
				</tr>
				<tr>
					<td>Geändert am</td>
					<td>{{ post.updatedAt | date('d.m.Y') }}</td>
				</tr>
				<tr>
					<td>Klicks</td>
					<td>{{ post.clicks }}</td>
				</tr>
				<tr>
					<td>Kommentare</td>
					<td>{{ post.comments | length }}</td>
				</tr>
			</tbody>
		</table>
		<p>Trackbacks (<a href="">URL</a>)</p>
		<ul class="no_margin">
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum dolor</a></li>
		</ul>
	</div>

	{# post content #}
	<h2 class="no_margin">{{ post.title }}</h2>
	<div id="blog_post_tags">
		<p class="small no_margin left">Tags:</p>
			<ul class="small no_margin left">
				{% for tag in post.tags %}
					<li><a href="{{ path('blog_search_tag', { 'name': tag.name }) }}">{{ tag.name }}</a></li>
				{% else %}
					<li>Keine Tags vorhanden.</li>
				{% endfor %}
			</ul>
	</div>
	<div id="blog_post_content">
		{{ post.content | raw }}
	</div>
	
	{# comments #}
	<h3 class="no_margin clear">Kommentare</h3>
	<hr class="no_margin"/>
	<div id="blog_post_comment_new">
		<p>Wenn du auch einen Kommentar schreiben möchtest, melde dich bitte <a href="{{ path('login') }}">hier</a> an.</p>
	</div>
	{% for comment in post.comments %}
	<div id="comment_{{ comment.id }}" class="blog_post_comment">
		{% include 'WebdevBlogBundle:Comment:comment.html.twig' with { 'comment': comment } %}
	</div>
	{% endfor %}

{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets
		'@WebdevBlogBundle/Resources/public/css/post/view.css'
		output='resources/compiled/view.css'
		filter='yui_css'
	%}
			
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
			
	{% endstylesheets %}

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	    
	{% javascripts
		'@WebdevBlogBundle/Resources/public/js/comment.js'
		output='resources/compiled/view.js'
		filter='yui_js'
	%}
	    	
	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	{% endjavascripts %}
	    
{% endblock %}